.form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #3e8e41;
}

.form .info {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
