body {
  background-color: #cdcaca;
  text-align: center;
}
.table-container {
  border-collapse: collapse;
  width: 20%;
  max-width: 100%;
  margin-left: 10px;
  border-radius: 4px;
  float: right;
  margin-bottom: 10px;
  margin-top: 100px;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border: 1px solid black;
  color: black;
}

.table-container th {
  background-color: #333;
  color: #fff;
}

.table-container tr:nth-child(even) {
  background-color: #eee;
}

.table-container tr:hover {
  background-color: #ddd;
}

.table-container input[type="checkbox"],
.table-container input[type="submit"] {
  margin-right: 10px;
}

.table-container button,
.table-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.table-container button:hover,
.table-container input[type="submit"]:hover {
  background-color: #3e8e41;
}

.table-container tr:last-child td {
  text-align: center;
}
